TestConsoleApp/Service References/SAP/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal23.4">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="23" />
          <xsd:fractionDigits value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="ZfiWmsStru">
        <xsd:sequence>
          <xsd:element name="CustomerNo" type="n0:char10" />
          <xsd:element name="AmountValue" type="n0:decimal23.4" />
          <xsd:element name="Currency" type="n0:cuky5" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZmesMsgStru">
        <xsd:sequence>
          <xsd:element name="Type" type="n0:char1" />
          <xsd:element name="Message" type="n0:char220" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZfiWmsStru">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZfiWmsStru" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZmesMsgStru">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZmesMsgStru" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZfiCreateArForWms">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ArData" type="tns:TableOfZfiWmsStru" />
            <xsd:element name="MsgTab" type="tns:TableOfZmesMsgStru" />
            <xsd:element name="PostingDate" type="n0:date" />
            <xsd:element name="WmsBatchid" type="n0:char50" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZfiCreateArForWmsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ArData" type="tns:TableOfZfiWmsStru" />
            <xsd:element name="CompanyCode" type="n0:char4" />
            <xsd:element name="DocumentNumber" type="n0:char10" />
            <xsd:element name="DocumentYear" type="n0:numeric4" />
            <xsd:element name="MsgTab" type="tns:TableOfZmesMsgStru" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZfiCreateArForWms">
    <wsdl:part name="parameters" element="tns:ZfiCreateArForWms" />
  </wsdl:message>
  <wsdl:message name="ZfiCreateArForWmsResponse">
    <wsdl:part name="parameters" element="tns:ZfiCreateArForWmsResponse" />
  </wsdl:message>
  <wsdl:portType name="ZFI_CREATE_AR_FOR_WMS">
    <wsdl:operation name="ZfiCreateArForWms">
      <wsdl:input message="tns:ZfiCreateArForWms" />
      <wsdl:output message="tns:ZfiCreateArForWmsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="http_binding" type="tns:ZFI_CREATE_AR_FOR_WMS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfiCreateArForWms">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZFI_CREATE_AR_FOR_WMS">
    <wsdl:port name="http_binding" binding="tns:http_binding">
      <soap:address location="http://SAPE6D:8000/sap/bc/srt/rfc/sap/zfi_create_ar_for_wms/900/zfi_create_ar_for_wms/http_binding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>